@model FSWEBAPP.Models.Adresler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adresler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdresTanim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresTanim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kisiler.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kisiler.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdresID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
